.root2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 420px 50px;
  text-align: center;
  box-sizing: border-box;
}
