svg {
  overflow: visible;
  display: block;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 400px 150px;
  text-align: center;
  box-sizing: border-box;
}

select {
  position: absolute;
  top: 40px;
  left: 20px;
}

.buttonOrg {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
